* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slategrey;
}

.container {
    border: 2px solid wheat;
    height: 804px;
    width: 804px;
    margin: 2rem auto;
    position: relative;
}

.box {
    border: 1px solid wheat;
    height: 200px;
    width: 200px;
    border-radius: 5%;
    position: absolute;
    left: 18; 
    top: 30;
    animation: runningBox;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

/*@keyframes runningBox {
    0% {left: 0; top: 0;}
    25% {left: 600px; top: 0;}
    50% {left: 600px; top: 600px;}
    75% {left: 0px; top: 600px}
    100% {left: 0px; top: 0px;}
}*/

@keyframes runningBox {
    0% {left: 18; top: 30;}
    10% {left: 30px; top: 45px;}
    25% {left: 35px; top: 50px;}
    35% {left: 25px; top: 49px;}
    45% {left: 15px; top: 35px;}
    55% {left: 10px; top: 29px;}
    65% {left: 8px; top: 25px;}
    75% {left: 10px; top: 21px;}
    85% {left: 14px; top: 23px;}
    95% {left: 17px; top: 28px;}
    100% {left: 20px; top: 33px;}
}



.mountain {
    width: 400px;
    height: 400px;
    position: absolute;
}

.cloud-one {
    width: 232px;
    position: absolute;
    animation-name: CloudOne;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    left: -30px;
    top: 300px;
}

@keyframes CloudOne {
    0% {left: -30px; top: 300px;}
    10% {left: 42px; top: 315px;}
    20% {left: 114px; top: 300px;}
    30% {left: 186px; top: 285px;}
    40% {left: 258px; top: 300px;}
    50% {left: 330px; top: 315px;}
    60% {left: 402px; top: 300px;}
    70% {left: 474px; top: 285px;}
    80% {left: 546px; top: 300px;}
    90% {left: 618px; top: 315px;}
    100% {left:690px; top: 300px;}
    
}

.cloud-two {
    width: 351px;
    position: absolute;
    animation-name: CloudTwo;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    left: -20px;
    top: 400px
}

@keyframes CloudTwo {
    0% {left: -20px; top: 400px;}
    10% {left: 40px; top: 405px;}
    20% {left: 100px; top: 400px;}
    30% {left: 160px; top: 395px;}
    40% {left: 220px; top: 400px;}
    50% {left: 280px; top: 405px;}
    60% {left: 340px; top: 400px;}
    70% {left: 400px; top: 395px;}
    80% {left: 460px; top: 400px;}
    90% {left: 520px; top: 405px;}
    100% {left: 580px; top: 400px;}
}